{{^pi_stackFile}}
dist
cabal-dev
{{/pi_stackFile}}
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
{{^pi_stackFile}}
.cabal-sandbox/
cabal.sandbox.config
{{/pi_stackFile}}
*.prof
*.aux
*.hp
{{#pi_stackFile}}
.stack-work/
{{/pi_stackFile}}
